
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');



.navbar{
  display: flex;
  align-items: center;
  margin: auto;
  border-bottom: solid gray 1px;
  box-shadow: 4px 4px 8px gray;
}

.nav-list{
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.logo{
  margin-left: 30px;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

.nav-item{
  margin: 5px;
  font-size: 20px;
  margin-right: 20px;
}

.link{
  text-decoration: none;
}



/* ===== PAGES ===== */

.home-container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ====== PROJECT LINKS ====== */

.link{
  text-decoration: none;
  margin-top: 30px;
  margin-left: 30px;
}
.project-container{
  border: solid 1px gray;
  box-shadow: 4px 4px 8px gray;
  border-radius: 20px;
  width: 300px;
  padding: 10px;

}

.project-img{
  width: 100%;
}