
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

/* CEC3D6, 9FA0B3, 3D588A, 2E3957, 161D2E */
/*font-family: 'Quicksand', sans-serif;*/

body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}


/* ===== PAGES ===== */

.home-container{
}
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ====== PROJECT LINKS ====== */

.link{
  text-decoration: none;
  margin-top: 30px;
  margin-left: 30px;
}
.project-container{
  border: solid 1px gray;
  box-shadow: 4px 4px 8px gray;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  background-color: white;
  height: 100%;
  position: relative;
}

.project-img{
  width: 100%;
}

.working-project{
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: red;
}


